.enemy {
  background-image: url("fish.png");
  background-size: 100% 100%;
  position:absolute;
  }/* your beautiful css styling goes here! */

/* Note: an asteroid image is included in this repo.
Feel free to use it if you like. */

